/* common styles !!!YOU DON'T NEED THEM  */
body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
}

.container {
  width: 900px;
  margin: 70px auto 0px auto;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
}
h1 span {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
  color: #119DA4;
}

.link {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 30px auto 0;
}
.link a {
  margin-right: 20px;
  color: #1f1f1f;
  font-size: 17px;
  display: inline-block;
}
.link a:last-child {
  margin-right: 0;
}
.link a i {
  color: #119DA4;
  margin-right: 5px;
}

.content-block {
  margin-top: 50px;
}
.content-block h2 {
  margin-bottom: 30px;
}

.content-block__effect {
  margin-bottom: 30px;
}
.content-block__effect:last-child {
  margin-bottom: 0;
}

.btn-block {
  display: flex;
  justify-content: space-between;
}

.btn-hover-effect {
  display: flex;
  font-family: Arial;
  font-size: 17px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1;
}
.btn-hover-effect:nth-child(1) {
  background-color: #880044;
}
.btn-hover-effect:nth-child(2) {
  background-color: #28AFB0;
}
.btn-hover-effect:nth-child(3) {
  background-color: #D78521;
}
.btn-hover-effect:nth-child(4) {
  background-color: #745296;
}
.btn-hover-effect:nth-child(5) {
  background-color: #3E8914;
}

/* effects styles !!!YOU NEED THEM */
.btn-hover-effect {
  position: relative;
  padding: 21px 36px;
  text-decoration: none;
}
