//VARIABLES
$accent-theme-color: #119DA4;

//MIXINS

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/* common styles !!!YOU DON'T NEED THEM  */
body {
  font: {
    family: 'Hind', sans-serif;;
    size: 16px;
  }
}

.container {
  width: 850px;
  margin: 70px auto 0px auto;
  text-align:  center;
}

  h1 {
    margin: 0;
    
    font: {
      weight: 400;
      size: 35px;
    }
    
    span {
      font: {
        family: 'Bad Script', cursive;
        weight: bold;
      }
      text-decoration: underline wavy;
      color: $accent-theme-color;
    }
}